# Python
backend/venv/
__pycache__/
*.pyc

# Uploads
backend/uploads/
backend/ai/faces/

# Node
frontend/node_modules/

# Vite
frontend/dist/

# Environment
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store